<Files "passwd.json">  
  Order allow,deny
  Deny from all
</Files>
<Files "token.json">  
  Order allow,deny
  Deny from all
</Files>
<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>
<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>
Options -Indexes
IndexIgnore *