/* --------- AUTENTICAZIONE --------- */

.div-psw, .div-token {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.form-psw {
    display: flex;
    flex-direction: column;
    align-items: left;
}
input[type=button]{
    border-radius: 50px;
    border: 1px solid red;
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: medium;
}