#title{
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: whitesmoke;
    background-color: #d00000;
    border: 0px none rgba(0,0,0,0);
    padding: 10px;
    margin: 0px;
}
#sub-title{
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: whitesmoke;
}
#link-index{
    text-align: center;
    font-family: 'Acme',sans-serif;
    color: whitesmoke;
}
.link{
    text-align: center;
    font-family: 'Acme',sans-serif;
    font-size: large;
    color: whitesmoke;
}
.link a:link{
    color: rgb(252, 186, 3);
}
.link a:visited{
    color: pink;
}
html, body{
    background-color: rgb(41,41,41);
    margin: 0px;
}
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(71, 71, 71);
    text-align: center;
    padding: 1em;
    color: white;
    font-family: Arial;
}
.container {
    background-color: none;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 1em;
    max-width: 25em;
    margin: auto;
    margin-top: 5em;
}