html, body{
    background-color: #363636;
}
#new_bat_button{
	font-size: 11px;
    width: 100%;
    height: 100%;
}
#ball_num,#strike_num,#out_num{
    text-align: center;
}
#basi{
    width: 100%;
    height: 100%;
}
.void_basi{
    width: 33%;
    height: 50%;
    border: 1px solid black;
    text-align: center;
}
#inning_container{
    text-align: center;
}
.rotate{
    transform: rotate(270deg);
    display: inline-block;
}

#Away,#Home{
    color: white;
}
#main{
    width: 100%;
    height: 100%;
    margin: 0%;
    
}
button{
    width: 100%;
    height: 100%;
    font-size-adjust:inherit;
}

.score_button{
    width: inherit;
    height: 100%;
    
}
td{
    color: white;
}