@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Global variables */
:root {
    /* Scoreboard widths */
    --w-teamcolor: 7px;
    --w-teamname: 250px;
    --w-score: 55px;
    --w-div: 7px;
    /* Scoreboard row height */
    --h-row: 40px;
    /* Scoreboard team colors */
    --c-home: #000000;
    --c-away: #000000;
    --c-score-home: #000000;
    --c-score-away: #000000;
    /* Gradients (please don't edit them) */
    --g-home: linear-gradient(0deg, var(--c-home) 0%, rgba(255,255,255,0.4) 100%), var(--c-home);
    --g-away: linear-gradient(0deg, var(--c-away) 0%, rgba(255,255,255,0.4) 100%), var(--c-away);
    --g-def: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
}

/* Standards */
html {
    width: min-content;
    background-color: transparent;
}
body {
    margin: 0;
    width: fit-content;
    overflow: hidden;
}
div {
    display: grid;
}

/* Transitions */
.scoreboard > div.teamName#home, .scoreboard > div.teamName#away, .scoreboard > div.teamColor#home, .scoreboard > div.teamColor#away {
    transition: cubic-bezier(0.18, 0.89, 0.33, 1.0) 1s;
    transition-delay: 1s;
    transform: scaleX(1);
    z-index: 0;
}
.scoreboard.disabled > div.teamName#home, .scoreboard.disabled > div.teamName#away, .scoreboard.disabled > div.teamColor#home, .scoreboard.disabled > div.teamColor#away {
    transition: cubic-bezier(0.18, 0.89, 0.33, 1.0) 1s;
    transform: scaleX(0);
}
.scoreboard > div.teamScore {
    transition: cubic-bezier(0.18, 0.89, 0.33, 1.0) 1.5s;
    transform: scaleX(1) skew(-30deg);
    z-index: 1;
}
.scoreboard.disabled > div.teamScore {
    transition: cubic-bezier(0.18, 0.89, 0.33, 1.0) 1s;
    transform: scaleX(0) skew(-30deg);
}
.scoreboard > div.teamName#away {
    transform-origin: right;
}
.scoreboard > div.teamName#home {
    transform-origin: left;
}
.scoreboard > div.teamColor#away {
    transform-origin: 270px
}
.scoreboard > div.teamColor#home {
    transform-origin: -270px
}
.scoreboard#postgame > div.teamScore#away {
    transform: skew(-30deg);
    transform-origin: left;
}
.scoreboard.disabled#postgame > div.teamScore#away {
    transform: translateX(-350px) skew(-30deg);
}
.scoreboard#postgame > div.teamScore#home {
    transform: skew(-30deg);
    transform-origin: right;
}
.scoreboard.disabled#postgame > div.teamScore#home {
    transform: translateX(350px) skew(-30deg);
}
.scoreboard#postgame > div.teamName#away {
    transform: none;
    transform-origin: left;
}
.scoreboard.disabled#postgame > div.teamName#away {
    transform: translateX(-350px);
}
.scoreboard#postgame > div.teamName#home {
    transform: none;
    transform-origin: right;
}
.scoreboard.disabled#postgame > div.teamName#home {
    transform: translateX(350px);
}
.scoreboard#postgame > div.teamColor#away {
    transform: none;
    transform-origin: left;
}
.scoreboard.disabled#postgame > div.teamColor#away {
    transform: translateX(-350px);
}
.scoreboard#postgame > div.teamColor#home {
    transform: none;
    transform-origin: right;
}
.scoreboard.disabled#postgame > div.teamColor#home {
    transform: translateX(350px);
}
.scoreboard > div.vs {
    transition: cubic-bezier(0.18, 0.89, 0.33, 1) 1s;
    transform-origin: center;
    z-index: 2;
}
.scoreboard.disabled > div.vs {
    transition: cubic-bezier(0.67, 0, 0.82, 0.11) 1s;
    transform: translateY(120px) skew(-30deg);
    transition-delay: 0.75s;
}
.scoreboard > div.div {
    transition: cubic-bezier(0.18, 0.89, 0.33,1) 1s;
    z-index: 2;
}
.scoreboard.disabled > div.div{
    transition: cubic-bezier(0.18, 0.89, 0.33,1) 1s;
    transform: translateY(80px) skew(-30deg);
}

/* Scoreboard & defaults */
.scoreboard {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    grid-auto-flow: column;
    grid-template-rows: var(--h-row);
}
.scoreboard#pregame {
    grid-template-columns: var(--w-teamcolor) var(--w-teamname) calc((var(--w-score) * 2) + var(--w-div)) var(--w-teamname) var(--w-teamcolor);
}
.scoreboard#postgame {
    grid-template-columns: var(--w-teamcolor) var(--w-teamname) var(--w-score) var(--w-div) var(--w-score) var(--w-teamname) var(--w-teamcolor);
}
.scoreboard > div {
    align-items: center;
}
.scoreboard > div:not(.teamName) {
    text-align: center;
}
#bg {
    border-radius: 3px;
    width: fit-content;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}
#bg.bg-dark {
    background: #414141;
}

/* Score and team divider */
.teamScore, .vs, .div {
    transform: skew(-30deg);
}
.teamScore > span, .vs > span, .div > span {
    transform: skew(30deg);
}
.vs, .div {
    color: white;
    background: black;
}

/* Team color */
.teamColor {
    width: 100%;
}
.teamColor#away {
    border-radius: 7px 0 0 7px;
    background: var(--g-away);
}
.teamColor#home {
    border-radius: 0 7px 7px 0;
    background: var(--g-home);
}

/* Team name */
.teamName {
    background: var(--g-def);
    padding-left: 10px;
    padding-right: 10px;
}
.teamName#home {
    margin-left: -20px;
    justify-content: end;
}
.teamName#away {
    margin-right: -20px;
}
.teamName#home > #bg > span {
    background: var(--g-home);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
.teamName#away > #bg > span {
    background: var(--g-away);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

/* Team score */
.teamScore#away {
    background: var(--g-away);
    color: var(--c-score-away);
}
.teamScore#home {
    background: var(--g-home);
    color: var(--c-score-home);
}